<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="naturegallery" frontName="naturegallery">
            <module name="Om_NatureGallery" />
        </route>
         <route id="naturevideo" frontName="naturevideo">
            <module name="Om_NatureGallery" />
        </route>
    </router>
</config>