<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
	<default>
		<press_config>
			<general>
				<enable_in_frontend>0</enable_in_frontend>
				<enable_in_sidebar_in_frontend>0</enable_in_sidebar_in_frontend>
				<press_heading>Press</press_heading>
				<press_block_position>1</press_block_position>
			</general>
		</press_config>
	</default>
</config>