<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!--di for topic-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faqs_topic_listing_data_source" xsi:type="string">FME\Faqs\Model\ResourceModel\Topic\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>

    <type name="FME\Faqs\Model\ResourceModel\Topic\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">fme_faqs_topic</argument>
            <argument name="eventPrefix" xsi:type="string">faqs_topic_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faqs_topic_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">FME\Faqs\Model\ResourceModel\Topic</argument>
        </arguments>
    </type>

    <virtualType name="FaqsTopicGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="FaqsTopicGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">FME\Faqs\Model\ResourceModel\Topic\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FaqsTopicGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <!--di for faqs -->
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faqs_faqs_listing_data_source" xsi:type="string">FME\Faqs\Model\ResourceModel\Faqs\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>

    <type name="FME\Faqs\Model\ResourceModel\Faqs\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">fme_faq</argument>
            <argument name="eventPrefix" xsi:type="string">faqs_faqs_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faqs_faqs_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">FME\Faqs\Model\ResourceModel\Faqs</argument>
        </arguments>
    </type>
    
    <virtualType name="FaqsFaqsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="FaqsFaqsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">FME\Faqs\Model\ResourceModel\Faqs\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FaqsFaqsGirdFilterPool</argument>
        </arguments>
    </virtualType>
    
    
</config>